<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SMSystem02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayAllListServlet</display-name>
    <servlet-name>DisplayAllListServlet</servlet-name>
    <servlet-class>cc.sms.servlet.DisplayAllListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllListServlet</servlet-name>
    <url-pattern>/DisplayAllListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOneStuServlet</display-name>
    <servlet-name>DisplayOneStuServlet</servlet-name>
    <servlet-class>cc.sms.servlet.DisplayOneStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOneStuServlet</servlet-name>
    <url-pattern>/DisplayOneStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStuServlet</display-name>
    <servlet-name>UpdateStuServlet</servlet-name>
    <servlet-class>cc.sms.servlet.UpdateStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuServlet</servlet-name>
    <url-pattern>/UpdateStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStuServlet</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>cc.sms.servlet.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/AddStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStuServlet</display-name>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>cc.sms.servlet.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/DeleteStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySpecialServlet</display-name>
    <servlet-name>DisplaySpecialServlet</servlet-name>
    <servlet-class>cc.sms.servlet.DisplaySpecialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySpecialServlet</servlet-name>
    <url-pattern>/DisplaySpecialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFuzzyQueryServlet</display-name>
    <servlet-name>DisplayFuzzyQueryServlet</servlet-name>
    <servlet-class>cc.sms.servlet.DisplayFuzzyQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFuzzyQueryServlet</servlet-name>
    <url-pattern>/DisplayFuzzyQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCurrentPageServlet</display-name>
    <servlet-name>DisplayCurrentPageServlet</servlet-name>
    <servlet-class>cc.sms.servlet.DisplayCurrentPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCurrentPageServlet</servlet-name>
    <url-pattern>/DisplayCurrentPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePageSizeServlet</display-name>
    <servlet-name>ChangePageSizeServlet</servlet-name>
    <servlet-class>cc.sms.servlet.ChangePageSizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePageSizeServlet</servlet-name>
    <url-pattern>/ChangePageSizeServlet</url-pattern>
  </servlet-mapping>
</web-app>